@media (min-width: 576px) {
	.header {
		.desktop {
			display: flex;
		}
	}

	.hamburger {
		display: none;
	}
}

@media (min-width: 768px) {
	h2 {
		font-size: 4.4rem;
	}
	.header {
		&__text {
			font-size: 2.4rem;
			h1 {
				font-size: 7.4rem;
			}
		}
	}
	.main {
		font-size: 2rem;
	}

	.footer {
		font-size: 1.6rem;
	}
}
