@import './colors';
@import './hamburger.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 46px;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $white;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section-padding {
	padding: 2em 4em;
}

h2 {
	position: relative;
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 1em;
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 3em 4em;
	height: 60vh;
	color: $white;
	background-position: center;
	background-size: cover;
	background-image: linear-gradient(
			45deg,
			rgba(73, 51, 9, 0.377),
			rgb(46, 27, 2)
		),
		url('/img/header1920.jpg');
	font-size: 1.6rem;

	h1 {
		letter-spacing: 0.1em;
		text-align: center;
		font-size: 5rem;
	}

	&__info {
		display: block;
		text-align: center;
	}

	.hamburger {
		position: fixed;
		top: 0.2em;
		right: 0.2em;
		z-index: 500;

		&-inner,
		&-inner::before,
		&-inner::after {
			background-color: $white;
			box-shadow: 0px 0px 1px 0px black;
			z-index: 500;
		}
	}

	.nav-desktop {
		position: fixed;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $white;
		background-color: rgba(0, 0, 0, 0.562);
		height: 46px;
		width: 100%;
		top: 0;
		right: 0;
		margin: 0;
		z-index: 1;

		&__logo {
			font-size: 2.5rem;
			padding: 0 1em;
		}

		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			margin-right: 3em;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		&__item {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100%;
			padding: 0 1em;
			font-size: 1.4rem;
			color: $white;
			text-decoration: none;
			transition: color 0.3s;

			&::before {
				position: absolute;
				content: '';
				text-align: center;
				background-color: $white;
				height: 0;
				width: 100%;
				left: 0;
				bottom: 0;
				margin-bottom: 0;
				transition: height 0.3s;
				z-index: -1;
			}

			&:hover::before,
			&:hover {
				color: black;
				height: 100%;
			}
		}
	}

	.desktop {
		display: none;
	}

	.nav-mobile {
		position: fixed;
		height: 100vh;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		background-color: $white;
		transform: translateX(102%);
		transition: transform 0.3s;
		overflow: hidden;
		z-index: 10;

		&__items {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__item {
			color: $dark;
			padding: 1em;
			margin-bottom: 0.2em;
			font-size: 2.5rem;
			text-decoration: none;
			text-transform: uppercase;
		}
	}
	.active {
		transform: translateX(0);
	}
}

.main {
	font-size: 1.5rem;

	.about-us {
		display: flex;
		flex-direction: column;
		text-align: justify;
	}

	.offer {
		display: flex;
		flex-direction: column;
		color: $white;
		background-color: $dark;
		background-size: cover;

		li {
			padding: 0.5em;
		}
	}

	.contact {
		display: flex;
		flex-direction: column;
		text-align: justify;
		&__text {
			ul {
				text-align: center;
				list-style: none;
				margin-bottom: 1em;
			}

			li {
				padding: 0.5em;
			}

			p {
				text-align: justify;
			}
		}
	}
}

.footer {
	padding: 2em 0;
	font-size: 1.2rem;
	text-align: center;
	background-color: $dark;
	color: $white;
}

@import './components';

